@import '../../styles/styles-consts.scss';

.input {
  line-height: 24px;
  outline: 0px;
  padding: $padding-input-normal;
  border-radius: $radius-md;
  border: 1px solid $color-border-input-normal;
  transition: all 200ms;

  &::placeholder {
    color: $color-text-secondary;
  }

  &:hover, &:focus {
    border-color: $color-border-input-focus;
    box-shadow: $input-ring-light;
  }

  &:disabled {
    border-color: $color-border-input-disabled;
    background: $color-background-input-disabled;
    color: $color-text-disabled;

    &:hover {
      box-shadow: none;
    }
  }
}