@import './base-colors.scss';

$color-border-default: #D1D1DB;

$color-text-primary: $black;
$color-text-secondary: #6C6C89;
$color-text-destructive: #F53D6B;

$color-anchor-normal: $primary;
$color-anchor-hover: $primary-dark;

$color-border-input-normal: $color-border-default;
$color-border-input-focus: $primary;
$input-ring-light: 0px 0px 0px 1px $primary;

$color-background-button-primary-normal: $primary;
$color-background-button-primary-hover: $primary-dark;