@import '../../styles/styles-consts.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-4;

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 24px;
  }
}