@import '../../styles/styles-consts.scss';

.inputWrap {
  width: 100%;
  display: flex;
  gap: $spacing-2;
  flex-direction: column;
  font-weight: 500;
  line-height: 24px;

  .error {
    color: $color-text-destructive;
    font-weight: 400;
    font-size: 14px;
  }
}